<template>
  <div class="about">
    <h1>Dashboard</h1>

    <div class="row">
      <div class="col col-lg-4 col-md-4">
        <div class="cuadro" style="background-color: #5545E0; margin-left: 15px">
          <div class="numero">{{ contCategorias }} </div>
          <div class="letras">Categorias</div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4">
        <div class="cuadro" style="background-color: #31EF8A;">
          <div class="numero">{{ contNoticias }}</div>
          <div class="letras">Noticias</div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4">
        <div class="cuadro" style="background-color: #EF9931; margin-right: 15px">
          <div class="numero">{{ contUsuarios }} </div>
          <div class="letras">Usuarios</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      usuario: {email: 'usuario3@usuario.com', pass: '123456'},
      mensaje: '',
      contNoticias: '',
      contCategorias: '',
      contUsuarios: ''
    }
  },
  methods:{
    contarCategorias(){
      this.axios.post('/categoria/contar')
        .then(res => {
          this.contCategorias = res.data
        })
        .catch(e => {
          this.mensaje = e.response.data.mensaje
        })
    },
    contarNoticias(){
      this.axios.post('/noticia/contar')
        .then(res => {
          this.contNoticias = res.data
        })
        .catch(e => {
          this.mensaje = e.response.data.mensaje
        })
    },
    contarUsuarios(){
      this.axios.post('/usuario/contar')
        .then(res => {
          this.contUsuarios = res.data
        })
        .catch(e => {
          this.mensaje = e.response.data.mensaje
        })
    }
  },
  created(){
   this.contarCategorias()
   this.contarNoticias()
   this.contarUsuarios()
  }
}
</script>

<style>
  .cuadro{
    /* background-color: blueviolet; */
    color:white;
    border-radius: 30px;
    padding: 30px 15px 30px 15px;
    margin-top: 80px;
  }

  .numero{
    font-size: 50px;
  }

  .letras{
    font-size: 30px;
  }
</style>
