<template>
  <div class="container">
    <h1>Categorias</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>

    <form @submit.prevent="editarCategoria(categoriaEditar)" v-if="editar">
      <h3>Editar categoria</h3>
      <input type="text" class="form-control my-2" placeholder="Nombre" v-model="categoriaEditar.nombre">
      <input type="text" class="form-control my-2" placeholder="Descripción" v-model="categoriaEditar.descripcion">
      <b-button class="btn-warning my-2 mx-2" type="submit">Editar</b-button>
      <b-button class="my-2" type="submit" @click="editar = false">Cancelar</b-button>
    </form>

    <form @submit.prevent="agregarCategoria()" v-if="!editar">
      <h3>Agregar nueva categoria</h3>
      <input type="text" class="form-control my-2" placeholder="Nombre" v-model="categoria.nombre">
      <input type="text" class="form-control my-2" placeholder="Descripción" v-model="categoria.descripcion">
      <b-button class="btn-success my-2 btn-block" type="submit">Agregar</b-button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in categorias" :key="index">
          <th scope="row">{{item._id}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.descripcion}}</td>
          <td>
            <!-- <b-button @click="alerta()">Acción</b-button> -->
            <b-button @click="eliminarCategoria(item._id)" 
              class="btn-danger btn-sm mx-2">Eliminar
            </b-button>
            <b-button @click="activarEdicion(item._id)" 
              class="btn-warning btn-sm">Editar
            </b-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categorias: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''},
      categoria: {nombre: '', descripcion: ''},
      editar: false,
      categoriaEditar: {}
    }
  },
  created(){
    this.listarCategorias();
  },
  methods: {
    alerta(){
      this.mensaje.color = 'danger';
      this.mensaje.texto = 'Probando alerta';
      this.showAlert();
    },
    listarCategorias(){
      this.axios.get('/categoria')
        .then(res => {
          console.log(res.data);
          this.categorias = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    agregarCategoria(){
      this.axios.post('/nueva-categoria', this.categoria)
        .then(res => {
          this.categorias.push(res.data)
          this.categoria.nombre = '';
          this.categoria.descripcion = '';
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Categoria Agregada!';
          this.showAlert()
        })
        .catch(e => {
          if(e.response.data.error.errors.nombre.message){
            this.mensaje.texto = e.response.data.error.errors.nombre.message
          }else{
            this.mensaje.texto = 'Error de sistema';
          }
          this.mensaje.color = 'danger';
          this.showAlert()
        })
    },
    eliminarCategoria(id){
      this.axios.delete(`/categoria/${id}`)
        .then(res => {
          const index = this.categorias.findIndex(item => item._id === res.data._id);
          this.categorias.splice(index, 1);
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Categoria Eliminada';
          this.showAlert();
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    activarEdicion(id){
      this.editar = true;
      this.axios.get(`/categoria/${id}`)
        .then(res => {
          this.categoriaEditar = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    editarCategoria(item){
      this.axios.put(`/categoria/${item._id}`, item)
        .then(res => {
          const index = this.categorias.findIndex(n => n._id === res.data._id);
          this.categorias[index].nombre = res.data.nombre;
          this.categorias[index].descripcion = res.data.descripcion;
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Categoria Editada';
          this.showAlert();
          this.editar = false;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>