<template>
  <div class="container">
    <h1>Usuarios</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>

    <form @submit.prevent="editarUsuario(usuarioEditar)" v-if="editar">
      <h3>Editar usuario</h3>
      <input type="text" class="form-control my-2" placeholder="Usuario" v-model="usuarioEditar.usuario">
      <input type="text" class="form-control my-2" placeholder="Email" v-model="usuarioEditar.email">
      <input type="text" class="form-control my-2" placeholder="Password" v-model="usuarioEditar.pass">
      <select v-model="usuarioEditar.rol">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
      <b-button class="btn-warning my-2 mx-2" type="submit">Editar</b-button>
      <b-button class="my-2" type="submit" @click="editar = false">Cancelar</b-button>
    </form>

    <form @submit.prevent="agregarUsuario()" v-if="!editar">
      <h3>Agregar nuevo usuario</h3>
      <input type="text" class="form-control my-2" placeholder="Nombre" v-model="noticia.nombre">
      <input type="text" class="form-control my-2" placeholder="Descripción" v-model="noticia.descripcion">
      <input type="date" class="form-control my-2" v-model="noticia.fecha">
      <b-button class="btn-success my-2 btn-block" type="submit">Agregar</b-button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha de Publicación</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in noticias" :key="index">
          <th scope="row">{{item._id}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.descripcion}}</td>
          <td>{{item.fecha}}</td>
          <td>
            <!-- <b-button @click="alerta()">Acción</b-button> -->
            <b-button @click="eliminarNoticia(item._id)" 
              class="btn-danger btn-sm mx-2">Eliminar
            </b-button>
            <b-button @click="activarEdicion(item._id)" 
              class="btn-warning btn-sm">Editar
            </b-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      noticias: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''},
      noticia: {nombre: '', descripcion: '', fecha:''},
      editar: false,
      noticiaEditar: {}
    }
  },
  computed: {
    ...mapState(['token'])
  },
  created(){
    this.listarNoticias();
  },
  methods: {
    alerta(){
      this.mensaje.color = 'danger';
      this.mensaje.texto = 'Probando alerta';
      this.showAlert();
    },
    listarNoticias(){
      let config = {
        headers: {
          token: this.token
        }
      }
      this.axios.get('/noticia', config)
        .then(res => {
          console.log(res.data);
          this.noticias = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    agregarNoticia(){
      let config = {
        headers: {
          token: this.token
        }
      }
      // console.log(this.noticia);
      this.axios.post('/nueva-noticia', this.noticia, config)
        .then(res => {
          this.noticias.push(res.data)
          this.noticia.nombre = '';
          this.noticia.descripcion = '';
          this.noticia.fecha = '';
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Noticia Agregada!';
          this.showAlert()
        })
        .catch(e => {
          console.log(e.response);
          if(e.response.data.error.errors.nombre.message){
            this.mensaje.texto = e.response.data.error.errors.nombre.message
          }else{
            this.mensaje.texto = 'Error de sistema';
          }
          this.mensaje.color = 'danger';
          this.showAlert()
        })
    },
    eliminarNoticia(id){
      console.log(id);
      this.axios.delete(`/noticia/${id}`)
        .then(res => {
          const index = this.noticias.findIndex(item => item._id === res.data._id);
          this.noticias.splice(index, 1);
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Noticia Eliminada';
          this.showAlert();
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    activarEdicion(id){
      this.editar = true;
      console.log(id);
      this.axios.get(`/noticia/${id}`)
        .then(res => {
          this.noticiaEditar = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    editarNoticia(item){
      this.axios.put(`/noticia/${item._id}`, item)
        .then(res => {
          const index = this.noticias.findIndex(n => n._id === res.data._id);
          this.noticias[index].nombre = res.data.nombre;
          this.noticias[index].descripcion = res.data.descripcion;
          this.noticias[index].fecha = res.data.fecha;
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Noticia Editada';
          this.showAlert();
          this.editar = false;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>